.containerTicket {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.ticket {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--radial-gradient);
}
.ticket .right {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: relative;
}
.ticket .right .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 100px;
}
.ticket .right .top .nameCompany {
  display: flex;
  align-items: center;
  gap: 5px;
}
.ticket .right .top .nameCompany span {
  width: 20px;
}
.ticket .right .top .details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.ticket .right .top .details span {
  padding: 5px 10px;
  border: 1px solid var(--main-text);
  border-radius: 10px;
}
.ticket .right .timeCity {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--main-text);
}
.ticket .right .timeCity span {
  font-weight: 400;
  font-size: 1.8rem;
}
.ticket .right .other {
  /* position: absolute;
    right: 15px;
    bottom: 15px; */
  width: 100%;
  display: flex;
  gap: 15px;
  color: var(--main-blue);
}
.ticket .left {
  padding:50px 15px 15px 15px;
  height: 100%;
  width: 30%;
  border-right: 2px solid var(--main-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.ticket .left p{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ticket .left p ,.ticket .left p span {
  font-weight: 500;
  font-size: 1.9rem;
}
.ticket .left span {
  font-size: 0.9rem;
  color: var(--gary-1);
}
.ticket .left button {
  border: 1px solid var(--main-blue);
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 10px 10px;
  border-radius: 30px;

}
.ticket .left button span:first-child{
    font-size: 1.4rem;
    text-align: center;
    padding-right:23% ;
    color: var(--main-blue);
}
.ticket .left button span:last-child {
  background-color: var(--main-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-white);
}
.ticket .left div{
    position: absolute;
    left: 15px;
    top: 15px;
}