.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px;

}
.itemInputs {
  width: 100%;
  display: grid;
  gap: 5px;
  justify-content: space-between;
  grid-template-columns: repeat(6, auto);
  direction: ltr;
}
.itemInputs input {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  color: var(--main-blue);
  font-size: 1.2rem;
  border: none;
  outline: none;
  background-color: var(--main-white);
}
.timer {
  font-size: 0.8rem;
}
form .btnLog {
  width: 100%;
  height: 55px;
  background-color: var(--main-blue);
  color: var(--main-white);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.7rem;
  margin-top: 30px;
}

.itemInputs input:focus {
  outline: 2px solid var(--main-blue);
  border-color: transparent;
}
