.containerAll {
  position: relative;
}
.container {
  padding: 0 30px;
  margin: 0 auto;
  max-width: var(--main-max-width);
}
.travelBox {
  width: 100%;
  margin: 50px 0;
}
.tapMenu {
  width: 635px;
  height: 105px;
  background: radial-gradient(
      105.19% 158.74% at -3.3% 37.9%,
      #ffffff 0%,
      #e4ebed 32.48%,
      #dbdde6 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 10px;
  padding-top: 5px;
}
.tapMenu ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tapMenu ul li {
  width: 100px;
  height: 100px;
  background-color: var(--main-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-text);
}
.tapMenu ul li:first-child {
  background-color: var(--main-blue);
  color: #ffffff;
}
.tapMenu ul li span {
  font-size: 1.8rem;
}
.formBox {
  width: 100%;
  height: auto;
  padding: 30px;
  background: radial-gradient(
    105.19% 158.74% at -3.3% 37.9%,
    #ffffff 0%,
    #e4ebed 32.48%,
    #dbdde6 100%
  );
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.formBox .btn {
  width: 136px;
  height: 60px;
  border-radius: 15px;
  border: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--main-text);
  background-color: var(--main-bg);
  margin-bottom: 20px;
}

.travelBoxMobile {
  width: 100%;
  display: none;
  margin-top: -30px;
  flex-direction: column;
  background: radial-gradient(
    105.19% 158.74% at -3.3% 37.9%,
    #ffffff 0%,
    #e4ebed 32.48%,
    #dbdde6 100%
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.tapMenuMobile {
  position: relative;
  top: -60px;
  width: 90%;
  margin: 0 auto;
}
.tapMenuMobile ul {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
.tapMenuMobile ul li {
  width: calc(100% / 3 - 30px);
  padding: 20px;
  border-radius: 10px;
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1052px) {
  .other {
    display: flex;
    width: 100%;
    gap: 5px;
  }
}

@media (max-width: 750px) {
  .travelBox {
    display: none;
  }
  .travelBoxMobile {
    display: flex;
  }


  .formBox .btn {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    font-size: 1.2rem;
  }
 
}
